body {
  position: absolute;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: black;
}

#terminal {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}

#connect-dialog-trigger {
  display: none;
}

.dialog {
  border-radius: 7px 7px 7px 7px;
  background-color: white;
  padding: 10px;
  width: 30%;
}

.dialog-title {
  font-size: 1.0em;
}

.dialog-content {

}

.picker-label {
  font-size: 0.7em; 
  display: inline-block; 
  width: 60px;
}