.invisible {
  visibility: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

input:focus {
  outline: none;
}

.no-display {
  display: none;
}

.clickable {
  cursor: pointer;
}

.default-cursor {
  cursor: auto;
}

.debug-border {
  border: 1px solid red;
}